.DS_Store
.vscode/
__pycache__/
chat_finance/*.html
app.js
.env
plugins-quickstart/
llama_index/
chat_finance/data/
chat_finance/storage/
chat_finance/.env
chat_finance/__pycache__/
chat_finance/tmp.html__pycache__
